node_modules
.next
.env
.env.local
.env.production
.env.development
.env.staging
!.env.example
!.env.development.example
!.env.staging.example
!.env.production.example
!.env.staging.api.example
!.env.staging.analytics.example
!.env.staging.payments.example
!.env.production.api.example
!.env.production.analytics.example
!.env.production.payments.example
yarn.lock
npm-debug.log*
pnpm-lock.yaml
.DS_Store
out
